
.fixedPrev {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 0%;
    width: 40px;
}

.fixedNext {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 0%;
    width: 40px;
}

.content-box{
  position:absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  min-height: 250px;
  border-radius: 10px;
  margin: 10px 0 10px;
  background-color: rgb(65, 62, 62);
  box-shadow: inset 0 0 7px rgb(0, 0, 0);
  padding: 20px;
}

ul{
  list-style: none;
}

a{
  text-decoration-line: none;
  color: rgb(133, 166, 224);
}

.about{
  width: 200px;
  border-radius: 7px;
  margin-bottom: 20px;
}

.about-li{
  font-size: large;
  font-weight: 600;
}

.about-box{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}




