
ul{
  list-style: none;
}

a{
  text-decoration-line: none;
  color: rgb(133, 166, 224);
}
video{
  margin-top:30px;
  margin-bottom:10px;
}
button {
  background-color: gray;
  border:none;
  border-radius: 5px;
  margin: 3px;
}
.emp{
  font-weight: 600;
}
.fixedPrev {
    position: fixed;
    top:50%;
    transform: translateY(-50%);
    left: 0%;
    width: 40px;
}

.fixedNext {
    position: fixed;
    top:50%;
    transform: translateY(-50%);
    right: 0%;
    width: 40px;
}

.content-box-small{
  position:absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  min-height: 320px;
  border-radius: 10px;
  margin: 10px 0 10px;
  background-color: rgb(65, 62, 62);
  box-shadow: inset 0 0 7px rgb(0, 0, 0);
  padding: 40px;
}

.project{
  margin-bottom:30px;
}

.weight-div{
  font-weight: 600;
}

.about{
  width: 240px;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 3vw;
  
}

.large-div{
  font-size: larger;
  font-weight: 600;
  margin-bottom: 15px;
}

.weight-div{
  font-weight: 600;
}

.about-box{
  display: grid;
  grid-template-columns: 1fr 2fr;
  
}

.teampic{
  width: 30px;
  margin-right:8px;
  border-radius: 100%;
}



